<!DOCTYPE html>
<html>
    <head>
        <title>
            vue js
        </title>
        <STyle type="text/css">
                
        </STyle>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div class="login">
            <div id="contenedor" class="contenedor">
            <form>
                <fieldset>
                    <legend>
                        Acceso al panel
                    </legend>
                    <label>
                        Correo
                    </label>
                    <input type="username" v-model="username" name="">
                    <label>
                        password
                    </label>
                    <input type="password" v-model="password" name="">

                    <button @click="login">
                        Acceder
                    </button>
                </fieldset>
            </form>
            </div>
        </div>

        <script type="text/javascript">
            const { createApp } = Vue

            createApp({
                data(){
                    return {
                        users: null,
                        username: '',
                        password: ''
                    }
                },
                methods:{
                    login(e){
                        e.preventDefault();

                        //User:resolved
                        //password:resolved742
                        var data = new FormData();
                        data.append('username', this.username);
                        data.append('password', this.password);
                        data.append('request_token', '');

                        var config = {
                        method: 'post',
                        url: 'https://api.themoviedb.org/3/authentication/token/validate_with_login?api_key=8cd7f318b7ed0aaaa8cc4e5a705e15e4',
                        headers: { 

                        },
                        data : data
                        };

                        axios(config)
                        .then(function (response) {
                            if (response.data.success) {
                                localStorage.setItem("user",this.username);
                                window.location.href = "tabla.html";
                            }
                        console.log(JSON.stringify(response.data));
                        })
                        .catch(function (error) {
                            alert("Datos Incorrectos")
                        console.log(error);
                        });



                        /*var email_user = this.email
                        var pass_user = this.password
                        
                        var access = this.users.map(function(u){
                            console.log(this.email)
                            console.log(this.password)

                            if(email_user === u.email.toLowerCase()){

                                if (pass_user === u.password) {
                                    alert("Acceso Concedido")
                                    return true;
                                }
                            }
                        }) 
                        console.log(access);

                        if (access.includes(true)) {
                            window.location.href = "tabla.html";
                        } else {
                            alert("Acceso Denegado")
                        }*/
                    }
                },
                mounted() {
                    /*fetch('users.json')
                    .then((res) => res.json())
                    .then((json) => (this.users = json))
                    .catch((err) => console.log(err))*/
                },
            }).mount('#contenedor')


        </script>
    </body>
</html>